* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    background-color: #1f2937;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

ul {
    list-style: none;
}

.navbar {
    height: 60px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 18px;
    color: #e5e7eb;
}