* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    background-color: #1f2937;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

ul {
    list-style: none;
}

.navbar {
    height: 60px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #e5e7eb;
    text-decoration: none;
}

.navbar a:hover {
    color: #a9abb1;
}

.navbar ul li {
    margin-left: 18px; 
}

.header {
    height: 350px;
    /* border: red solid; */
    padding: 60px 0;
}

.header .container {
    display: flex;
    /* border: red solid; */
    height: 100%;
    justify-content: space-between;

}

.header .left {
    margin-top: 0;
    /* border: red solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-right: 50px;
    flex: 1;
}

.header .left h1 {
    font-size: 48px;
}

.header .img {
    /* border: red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #6D747D;
}

.button {
    background-color: #3882f5;
    color: #e5e7eb;
    padding: 7px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: #2f6cce;
}

.boxes {
    background: white;
    height: 420px;
    color: #1f2937; 
}

.boxes .box {
    border:  3px solid #3882f5;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.boxes .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    /* border: solid red; */
    height: 100%;
}

.boxes h2 {
    font-size: 38px;
    font-weight: bolder;
}

.boxes .boxes-container {
    display: flex;
    /* border: solid red; */
    justify-content: space-between;
    width: 780px;
    margin-top: 40px;
}

.boxes .boxes-container .box-and-text-container {
    /* border: red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.boxes p {
    text-align: center;
}





